{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet" 
  type="text/css" 
  href="{% static 'css/heros/hero-details.css' %}"
/>
{% endblock %}

{% block content %}

<section class="hero-container">
  <div class="hero-details">
    <h2 class="card-title">{{ hero.name }}</h2>
    <p> From {{ hero.universe }}</p>
    <p><small>{{ hero.description }}</small></p>
    <div class="hero-actions">
      <a href="{% url 'superhero_update' hero.id %}" class="btn warn">Edit</a>
      <a href="{% url 'superhero_delete' hero.id %}" class="btn danger">Delete</a>
    </div>
  </div>
</section>
<div class="movie-villan-container">
  <section class="movies">
    <div class="subsection-title">
      <h2>Movies</h2>
    </div>
    <table>
      <thead>
        <tr><th>Date</th><th>Title</th></tr>
      </thead>
      <tbody>
        {% for movie in hero.movie_set.all %}
          <tr>
            <td>{{movie.date}}</td>
            <td>{{movie.title}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>
</div>

{% endblock %}