{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  href="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.css" 
  rel="stylesheet" 
/>
<link rel="stylesheet" href="{% static 'css/mcdp.css' %}">
<script 
  src="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.js"
>
</script>
<link 
  rel="stylesheet" 
  type="text/css" 
  href="{% static 'css/heros/hero-details.css' %}"
/>
<script defer src="{% static 'js/hero-detail.js' %}"></script>
{% endblock %}

{% block content %}

<section class="hero-container">
  <div class="hero-details">
    <h2 class="card-title">{{ hero.name }}</h2>
    <p> From {{ hero.universe }}</p>
    <p><small>{{ hero.description }}</small></p>
    <div class="hero-actions">
      <a href="{% url 'superhero_update' hero.id %}" class="btn warn">Edit</a>
      <a href="{% url 'superhero_delete' hero.id %}" class="btn danger">Delete</a>
    </div>
  </div>
</section>
<div class="movie-villan-container">
  <section class="movies">
    <div class="subsection-title">
      <h2>Movies</h2>
    </div>
    <hr />
    <h3>Add a Movie</h3>
    <form
      action="{% url 'add_movie' hero.id %}"
      method="post" 
      class="subsection-content"
    >
      {% csrf_token %}
      {{ movie_form.as_p }}
      <button type="submit" class="btn submit">Add Movie</button>
    </form>
    <h3>All Movies</h3>
    {% if hero.movie_set.all.count %}
      <table>
        <thead>
          <tr><th>Date</th><th>Title</th></tr>
        </thead>
        <tbody>
          {% for movie in hero.movie_set.all %}
            <tr>
              <td>{{movie.date}}</td>
              <td>{{movie.title}}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
    <div class="subsection-content">
      <p>{{hero.name}} has no movies yet</p>
    </div>
    {% endif %}
  </section>
</div>

{% endblock %}