{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/heros/heros-index.css' %}"
/>
{% endblock %}

{% block content %}

<section class="page-header">
  <h1>Superhero List</h1>
</section>

<section class="card-container">
  {% for hero in heros %}
  <div class="card">
    <a href="{% url 'superhero_detail' hero.id %}">
        <div class="card-content">
          <h2 class="card-title">{{ hero.name }}</h2>
            <p> From {{ hero.universe }}</p>
          
          <p><small>{{ hero.description }}</small></p>
        </div>
      </a>
      </div>
  {% endfor %}
</section>

{% endblock %}