{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>Superhero Collector</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/bases.css' %}">
  {% block head %}
  {% endblock %}
</head>
<body>
  <header>
    <div class="header-logo-container">
      <a href="/">
        <h1>Superhero Collector</h1>
      </a>
    </div>
    <nav>
      <ul>
        {% if user.is_authenticated %}
        <li><a href="{% url 'heros_index' %}">All Superheros</a></li>
        <li><a href="{% url 'villans_index' %}">All Villans</a></li>
        <li><a href="{% url 'superhero_create' %}">Add Superhero</a></li>
        <li><a href="{% url 'villans_create' %}">Add Villan</a></li>
        <li><a href="{% url 'about' %}">About</a></li>
        <li><a href="{% url 'logout' %}">Log out</a></li>
        {% else %}
        <li><a href="{% url 'about' %}">About</a></li>
        <li><a href="{% url 'home' %}">Login</a></li>
        <li><a href="{% url 'signup' %}">Sign Up</a></li>
        {% endif %}
      </ul>
    </nav>
  </header>
  <main>
    {% block content %}
    {% endblock %}
  </main>
</body>
</html>